# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\matth\Documents\school\Classes\past\archived\do not replace harddrive copies\comp 474\Assignment\knowlegraph-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
